.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    background-color: #f5f5f5;
}
.book-now{
    color: 'white',
}
.check_butt{
    background-color: aqua;
    color: #000302;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;  
}